.header{
    background-color:#CB1700;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 5px;
    width: auto;
        & a{
        text-decoration: none;
        padding: 5px;
    }
    & h1{
        color:rgb(238,238,238);
        font-family: 'Boogaloo', cursive;
    }
}
.header__menu {
    display: flex;
    align-content: center;
    justify-content: center;
    & ul{
        display: flex;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        list-style-type: none;
    }
    & a{
        text-decoration: none;
    }
}