.usuario{
    background-color: #FEE8B0;
    width: auto;
    height: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.ingreso__usuario{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}