@import 'reset';
@import 'header';
@import 'footer';
@import 'user';
@import 'hamburguesas';
$colormain:rgb(238,238,238);
$rojo:#CB1700;
$azul:#507DFF;
$amarillo:#FFCC01;

.pick--menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: auto;
    height: 900px;
    background-color: $colormain; 
    align-items: center;
    & a{
        width: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 20px;
        width: auto;
        height: auto;
        border-radius: 10px;
        display: flex;
        align-items: flex-end;
        text-decoration: none;
        color: $amarillo;
        font-size: xx-large;
        font-family: "Mulish", sans-serif;
        font-weight: 800;
          &:hover{
            transform: scale(1.2,1);
            width: 30%;
            height: 50%;
            font-weight: 800px;
        }
    }
    & .hamburguesas{
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url(../Galeria/hamburguesa.webp);
    }
    & .papas{
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)), url(../Galeria/50.webp);
    }
    & .drinks{
        background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, .5)), url(../Galeria/merlin_188253867_acb3eef8-762e-4f66-a4b1-37e1e694ed93-articleLarge.webp);
    }
    & .combos{
        background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, .5)),url(../Galeria/comobo_para_dos_res.webp);
    }
}   

@media (max-width:500px) {
    .header{
        background-color: $rojo;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        padding: 5px;
        width: auto;
        & a{
            text-decoration: none;
            color: black;
        }
    }
    .menu {
        display: flex;
        align-content: center;
        justify-content: center;
        & ul{
            display: flex;
            align-items: center;
            justify-items: center;
            align-content: center;
            justify-content: center;
            list-style-type: none;
        }
        & a{
            text-decoration: none;
        }
    }
    
    /* .....................pick--menu .....................*/

    .pick--menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        height: 1200px;
        background-color: $colormain;
    
     & a{
        width: auto;
        background-color: #9CA777;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 2px;
        width: 370px;
        height: 300px;
        border-radius: 10px;
        display: flex;
        align-items: flex-end;
        text-decoration: none;
        }
    & h2{
        font-size: xx-large;
    }
    }
    .menu_hamburguesas{
        display: block;
        height: auto;
        & .sencilla, .doble, .supreme{
            display: block;
            padding: 1rem;
        }
        & section{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
            margin: 2px;
            width: auto;
            height: 100px;
        }
    }
    .footer{
        width: auto;
    }
}
